<h2>Welcome to <%= @store.name() %> page</h2>

<% if @brands.any?()%>
  <form class="form-group" action="/store/<%= @store.id()%>/brand" method="post">
    <input type="hidden" name="store_id" value="<%=@store.id()%>">
    <label for="brand_id">Select the brand</label>
      <select id='brand_id' name='brand_id' type='text'>
        <% @brands.each { |brand| %>
          <option value="<%= brand.id %>"> <%= brand.name %></option>
        <% } %>
      </select>
    <button type="submit">Add Brand</button>
  </form>
<% end %>

<h3>Brands that carry <%= @store.name %> store:</h3>
  <% if @store.brands.any? %>
    <ul>
      <% @store.brands.each { |brand| %>
        <li><a href='/brand/<%= brand.id() %>'><%= brand.name %></a></li>
      <% } %>
    </ul>
  <% else %>
    <p>This store does not carry any brand yet.</p>
  <% end %>

<a href="/">Return Home</a>
